#userimage{
    height: 35px;
    position: relative;
    bottom: 6px;
}

#firstg{
    color: blue;
    font-size: 500%;
}

#firsto{
    color:red;
}

#secondo{
    color: yellow;
}

#secondg{
    color: blue;
}

#l{
    color: green;
}

#e{
    color: red;
}

.smallletters{
    font-size: 300%;
    position: relative;
    top: 10px;
}

.topbar-image{
    height: 23px;
    margin: 3px 5px 3px 8px;
}

.inline{
    display: inline-block;
}

.floatright{
    float: right;
}

.google{
    position: relative;
    top: 175px;
    left: 350px;
    font-family: arial, sans-serif;
    font-weight: bold;
}

p{
    font-family: arial, sans-serif;
    margin: 5px;
}

p:hover{
    text-decoration: underline;
}